@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 992px) {
  .overlay {
    height: 100%;
    width: 0;
    text-align: left;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    background-color: #ffeae4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
  }

  .overlay .nav-link {
    padding: 8px 30px;
    text-align: right;
  }
  .closebtn {
    text-align: right;
    padding: 0 30px;
    font-size: 40px;
    color: #333;
    z-index: 999;
  }
  .closebtn:hover {
    border: none;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 0.5rem;
  }

  .d-lg-none {
    display: none !important;
  }

  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .order-lg-1 {
    order: 1 !important;
  }
  .order-lg-2 {
    order: 2 !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .navbar-nav .nav-link.active:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: 0 auto;
    width: 50%; /* or 100px */
    border-bottom: 2px solid #e8603c;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
