* {
  scroll-behavior: smooth;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #333;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  border: 3px solid #e8603c;
  padding: 17px;
  font-size: 24px;
  color: #e8603c;
  font-weight: bold;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  top: 50%;
  position: absolute;
  line-height: 16px;
}

.swiper-button-next:after {
  padding: 22px;
  line-height: 6px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 95px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 3%;
  right: auto;
}

.bg-white {
  background-color: white;
}

.bg-white1 {
  background-color: #f7f7f7;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  padding: 0.3125rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  color: #333;
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.ms-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.text-decoration-none {
  text-decoration: none !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 0;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.mx-lg-2 {
  margin: 0 0.5rem !important;
}

.rounded-2 {
  border-radius: 0.375rem !important;
}

.py-3 {
  padding: 1rem 0 !important;
}
.py-2 {
  padding: 0.5rem 0 !important;
}

.py-150 {
  padding: 150px 0 !important;
}

.py-70 {
  padding: 70px 0 !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

small {
  font-size: 0.875em;
}

.d-flex {
  display: flex !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-self-center {
  align-self: center !important;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
}
.text-white {
  color: white;
}

.text-reset {
  color: inherit !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.ps-3 {
  padding-left: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-top: 0;
}

.m-0 {
  margin: 0 !important;
}

.text-primary {
  color: rgba(13, 110, 253, 1) !important;
}

.text-secondary {
  color: #979797;
}

.lh-lg {
  line-height: 2 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.justify-content-between {
  justify-content: space-between !important;
}

button:not(:disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.position-relative {
  position: relative !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.justify-content-center {
  justify-content: center !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.375rem;
}

.text-center {
  text-align: center !important;
}
.p-3 {
  padding: 1rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.lh-base {
  line-height: 1.5 !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.d-grid {
  display: grid !important;
}
h6 {
  font-size: 1rem;
  font-weight: 500;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.text-uppercase {
  text-transform: uppercase !important;
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

/* ============ ASLI ============ */
.text-orange {
  color: #e8603c;
}

.bg-orange {
  background-color: #e8663c;
}

.btn-orange {
  background-color: #e8603c;
  color: white;
  border: 1px solid #e8603c;
  transition: 0.5s all;
}
.btn-orange:hover {
  transition: 0.5s all;
  border: 1px solid #e8603c;
  color: #e8603c;
  background-color: white;
}

.shadow1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardHover {
  transition: 0.5s all;
}
.cardHover:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s all;
  transform: translateY(-3px);
}

.hoverUp {
  transition: 0.5s all;
}
.hoverUp:hover {
  transition: 0.5s all;
  transform: translateY(-4px);
}

.btn-outline-orange {
  color: #e8603c;
  background-color: white;
  border: 1px solid #e8603c;
}

.btn-outline-orange:hover {
  background-color: #e8603c;
  color: white;
  border: 1px solid #e8603c;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e8603c;
  font-weight: 600;
  position: relative;
}

.nav-link:focus,
.nav-link:hover {
  color: #e8603c;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-18 {
  font-size: 18px !important;
}
