body {
  font-family: 'Poppins', sans-serif;
}

.text-orange {
  color: #e8603c;
}

.bg-orange {
  background-color: #e8663c;
}

.btn-orange {
  background-color: #e8603c;
  color: white;
  border: 1px solid #e8603c;
  transition: 0.5s all;
}
.btn-orange:hover {
  transition: 0.5s all;
  border: 1px solid #e8603c;
  color: #e8603c;
  background-color: white;
}

.shadow1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardHover {
  transition: 0.5s all;
}
.cardHover:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s all;
  transform: translateY(-3px);
}

.hoverUp {
  transition: 0.5s all;
}
.hoverUp:hover {
  transition: 0.5s all;
  transform: translateY(-4px);
}

.btn-outline-orange {
  color: #e8603c;
  background-color: white;
  border: 1px solid #e8603c;
}

.btn-outline-orange:hover {
  background-color: #e8603c;
  color: white;
  border: 1px solid #e8603c;
}

.container {
  width: 100%;
  padding: 0 calc(1.5rem * 0.5);
  margin: 0 auto;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e8603c;
  font-weight: 600;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  border: 3px solid #e8603c;
  padding: 17px;
  font-size: 24px;
  color: #e8603c;
  font-weight: bold;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  top: 50%;
  position: absolute;
  line-height: 16px;
}

.swiper-button-next:after {
  padding: 22px;
  line-height: 6px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 95px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 3%;
  right: auto;
}

.bg-radial-gradient {
  background-image: radial-gradient(50% 50% at 50% 50%, #e8603c 0, hsla(0, 0%, 100%, 0) 100%);
  position: absolute;
  width: 540px;
  height: 540px;
  opacity: 0.25;
}
